<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.webengage.cordovaSample" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>CordovaExample</name>
  <description>Sample Apache Cordova App</description>
  <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
    Apache Cordova Team
  </author>
  <content src="index.html"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <platform name="android">
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <meta-data android:name="com.webengage.sdk.android.key" android:value="WEBENGAGE_LICENSE"/>
      <meta-data android:name="com.webengage.sdk.android.debug" android:value="true"/>
      <meta-data android:name="com.webengage.sdk.android.location_tracking" android:value="true"/>
      <meta-data android:name="com.webengage.sdk.android.alternate_interface_id" android:value="false"/>
       <!-- Uncomment below line to use Google Ad Id  -->
      <!-- <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="YOUR_AD_ID"/> -->
    </config-file>
    <config-file parent="/manifest" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
      <uses-permission android:name="android.permission.AD_ID"/>
    </config-file>
    <resource-file src="build-extras.gradle" target="app/build-extras.gradle"/>
  </platform>
  <platform name="ios">
    <config-file parent="WEGLicenseCode" target="*-Info.plist">
      <string>WEBENGAGE_LICENSE</string>
    </config-file>
    <config-file parent="WEGLogLevel" target="*-Info.plist">
      <string>VERBOSE</string>
    </config-file>
    <config-file parent="WEGEnvironment" target="*-Info.plist">
      <string>DEFAULT</string>
    </config-file>
    <config-file parent="WEGApnsAutoRegister" target="*-Info.plist">
      <true/>
    </config-file>
    <config-file target="*-Debug.plist" parent="com.apple.developer.aps-environment">
      <string>development</string>
    </config-file>
    <config-file target="*-Release.plist" parent="com.apple.developer.aps-environment">
      <string>production</string>
    </config-file>
  </platform>
</widget>