/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  margin: 0;
  padding: 0;
  outline: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  justify-content: center;
  align-items: center;
}
#label {
  color: #1b1b1b;
  font-size: 20px;
  height: 100;
}

.optInItem {
  height: 250;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

input,
button {
  display: block;
  margin: 10px;
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #e4e4e4;
  background-image: linear-gradient(to bottom, #a7a7a7 0%, #e4e4e4 51%);
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;
  font-size: 12px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  width: 100%;
}

div.wrapper {
  margin: 20px auto;
  width: 100%;
}

p {
  font-family: georgia;
  font-size: 1rem;
  line-height: 25px;
  margin: 24px 0;
  text-align: center;
}

nav.vertical {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  text-indent: 5%;
}

nav.vertical > ul {
  list-style-type: none;
}

nav.vertical > ul > li {
  display: block;
}

nav.vertical > ul > li > a {
  background-color: rgb(157, 34, 60);
  background-image: -webkit-linear-gradient(
    135deg,
    rgb(114, 51, 98),
    rgb(157, 34, 60)
  );
  background-image: -moz-linear-gradient(
    135deg,
    rgb(114, 51, 98),
    rgb(157, 34, 60)
  );
  background-image: -o-linear-gradient(
    135deg,
    rgb(114, 51, 98),
    rgb(157, 34, 60)
  );
  background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  transition: all 0.1s ease;
  text-decoration: none;
}

nav.vertical > ul > li > a:hover {
  background-color: rgb(114, 51, 98);
  background-image: -webkit-linear-gradient(
    150deg,
    rgb(114, 51, 98),
    rgb(114, 51, 98)
  );
  background-image: -moz-linear-gradient(
    150deg,
    rgb(114, 51, 98),
    rgb(114, 51, 98)
  );
  background-image: -o-linear-gradient(
    150deg,
    rgb(114, 51, 98),
    rgb(114, 51, 98)
  );
  background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
  cursor: pointer;
}
.custom-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

nav.vertical > ul > li > div {
  background-color: rgb(255, 255, 255);
}

nav.vertical > ul > li > div > ul {
  list-style-type: none;
}

nav.vertical > ul > li > div > ul > li > a {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: #333331;
  display: block;
  font-size: 1.1rem;
  padding: 15px 0;
  text-decoration: none;
  transition: all 0.15s linear;
}

nav.vertical > ul > li > div > ul > li:hover > a {
  background-color: lightBlue;
  color: rgb(255, 255, 255);
  /* padding: 10px 0 10px 50px; */
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}

.event {
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px;
}

.event.listening {
  background-color: #333333;
  display: block;
}

.event.received {
  background-color: #4b946a;
  display: none;
}

#deviceready.ready .event.listening {
  display: none;
}
#deviceready.ready .event.received {
  display: block;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#list {
  background-color: #a7a7a7;
}

.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-image: linear-gradient(to bottom, #585858 0%, #1b1b1b 51%);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
